@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');

.headerWrapper {
    width: 100%;
    display: flex;

    .headerText {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10%;
    }

    .header {
        position: absolute;
        display: flex;
        justify-content: space-between;
        padding: 1.2rem;

    }

    .title {
        font-size: 1.5rem;
        font-weight: bolder;
        position: relative;
        padding: 1.2rem;
    }

    .sections {
        display: flex;
        font-family: Poppins, sans-serif;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 1.2rem;
        color:white;

        .despreNoi {
            font-weight: bold;
            font-size:1rem;
        }
    }


}

.profilePic {
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 50px;
}